.AddTodoContainer {
  display: flex;
  justify-content: center;
  z-index: 100;
  margin-top: -53px;
}
.Addbutton {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: all 0.5s;
}
.Addbutton:hover {
  transform: scale(1.15, 1.15);
}
